# Configuration Serveur
PORT=3000
NODE_ENV=development

# Base de données SQL Server 
DB_USER=
DB_PASSWORD=
DB_SERVER=localhost
DB_NAME=M_IA_DB

# API M-support
MSUPPORT_API_URL=
MSUPPORT_API_KEY=

# SSO 
SSO_CLIENT_ID=
SSO_CLIENT_SECRET=